@charset "UTF-8";

:root{
    --corbody: #C0C0C0;
    --cormain: #F8F8FF;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--corbody)
}
main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 320px;
    
}
button{

    display: flex;
    
    font-size: 3em;
    width: 200px;
    height: 150px;
}