@charset "UTF-*";

body{
    
    background-image: url(planeta-terra.jpg);
    background-position: center top;
    
    
}
div{
    margin: auto;
    display: block;
    max-width: 600px;
    min-width: 320px;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-left: 5%;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
span#hora::after, span#minutos::after{
    content: ':';
    padding-left: 20px;
    font-size: 1.2em;
}
span#hora{
    color: #6e8ecaec;
}
span#minutos{
    color: #8aacebec;

}
span#segundos{
    color: #a1bddf;

}
p{
    position: absolute;
    text-align: center;
    max-width: 180px;
    left: 45%;
    top: 1%;
    font-style: italic;
    color: white;
}