@charset "UTF-*";

body{
  
    margin: 0;
    background-image: url(planeta-terra.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 500px;
}

#hora, #minutos, #segundos{
    
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6em;
    color: #d1cfd0;
    text-shadow: 2px 3px 4px rgba(0, 0, 255, 0.386);
    border: 1px solid #e2dde1;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.616);
    background-color: rgba(0, 0, 0, 0.559);
    border-radius: 10px;
    
}
#saudacao{
    width: 290px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.515);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 5px;
    color: #d1cfd0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.616);
    text-shadow: 2px 3px 4px rgba(0, 0, 255, 0.386);
  
    
}
#txtdia::after, #txtmes::after{
    content: '/';
    text-shadow: 2px 3px 4px rgba(0, 0, 255, 0.386);


}
#txtsaudacao{
    position: absolute;
    top: -2px;
    padding-bottom: 20px;
    
}




