@charset "UTF-*";

body{
  
    margin: 0;
    background-image: url(planeta-terra.jpg);
    background-position: center top;
   

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    
}

#relogio{
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgba(197, 190, 190, 0.326);
    top: -20%;
    left: -88%;
}
#hora, #minutos, #segundos{
    position: absolute;
    width: 80px;
    height: 80px;
    
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10em;
    align-items: center;
    justify-content: center;
    color: rgba(197, 190, 190, 0.628);
    top: 195px;;
    justify-content: center;
    border: 1px solid rgba(197, 190, 190, 0.628);
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    
 
   
}
#hora{
    left: 110px;
    
}
#minutos{
    left: 50%;
}
#segundos{
    left: 410px;
}

#saudacao{
    width: 290px;
    height: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top:30px;
    left: 175px;
    color: rgba(197, 190, 190, 0.628);
    padding: 30px;
 
 
   
}
#txtdia::after, #txtmes::after{
    content: '/';
}
#txtdia{
    position: absolute;
    left: 80px;
}

#txtmes{
    position: absolute;
    left: 125px;

}

#txtano{
    position: absolute;
    left: 170px;
    
}
#txtsaudacao{
    position: relative;
    top: -30px;
    left: -20px;
 
}

#txtdiasemana{
    position: relative;
    top: 10px;
    left: -20px;



}